.navbar {
    position: relative;
    z-index: 999999900000;
}
.navbar .navbar-brand {
    color: brown;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -4px;
}
.navbar .navbar-toggler {
    color: #c0f1d9;
}
.navbar .navbar-toggler > i {
    color: brown;
    font-size: 20px;
}

.navbar .nav-item .nav-link {
    color: brown ;
    padding: 0 15px;
    font-weight: 500;
    padding: 10px;
    font-size: 19px;
    cursor: pointer;
}

.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .show>.nav-link {
    color: brown ;
    font-weight: 800;
    font-size: 20px;
}
