div h2 {
    color: brown;
    text-transform: capitalize;
    padding: 10px;
    margin-top: 25px;
}

div .under-line {
    width: 82px;
    background-color: brown;
    height: 3px;
    margin-bottom: 30px;

}
.form {
    margin-top: 40px;
    margin-bottom: 40px;
    display: inline-block;
    display: grid;
    width: 100%;
    justify-content: space-around;
    align-content: center;
    grid-template-rows: 50px 50px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    grid-auto-rows: 50px;
    gap: 20px 0;
}
.form input {
    padding: 10px;
}
.form textarea {
    resize: none;
    grid-column: 1 / -1;
}